.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding: 2%;
    border: 1px solid #ccc;
}

.header {
    margin-bottom: 20px;
}

.days-of-week {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.day-of-week {
    width: 14.28%;
    text-align: center;
}