.successMsg {
    padding: 1%;

    width: 30%;
    height: 5%;
    background-color: rgb(142, 255, 117);
    border-radius: 30px;
    font-weight: 600;
}

.failMsg {
    padding: 1%;
    width: 30%;
    height: 5%;
    background-color: rgb(214, 82, 82);
    border-radius: 30px;
    font-weight: 600;
}